<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cancel</title>
</head>
<body>
    <header class="page-header">
        <nav>
            <ul>
                 <a href="/"><li>Home</li></a> 
                 <a href="/cards"><li>Listings</li></a>
            </ul>
        </nav>
    </header>
    <div class="success-cancel-page-content page-hero">
        <h1 class="success-cancel-heading" >Successfully cancelled order!</h1>
        <h2 class="cancel-subheading">Sorry to see you cancel, please email us at help@help.com if we can be of any assistance</h2>
        <button class="btn-primary back-btn">
            <%= link_to "Back to Listings", cards_path  %>
        </button>
    </div>
</body>
</html>