<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/app/assets/stylesheets/home.css">
    <title>Home</title>
</head>
<body>
    <header class="page-header">
        <nav>
            <ul>
                 <a href="home"><li>Home</li></a> 
                 <a href="cards"><li>Cards</li></a> 
                 <a href=""><li>Accounts</li></a> 
                 <a href=""><li>Cart</li></a> 
                 <a href=""><li>Wishlist</li></a> 
            </ul>
        </nav>
    </header>
    <div class="container page-hero">
        <div class="page-hero-content">
            <h1 class="page-heading">Complete your old Pokémon set!</h1>
            <p>This place is dedicated to older cards, specifically gen 1 & 2, so if you're looking to complete that old set you collected as a kid, you found the right place! 
            </p>
        </div>
    </div>
    
</body>
</html>