<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/stylesheets/home.css">
    <title>Home</title>
</head>
<body>
    <header class="page-header">
        <nav>
            <ul>
                 <a href="/"><li>Home</li></a> 
                 <a href="/cards"><li>Listings</li></a>
            </ul>
        </nav>
    </header>
    <div class="container page-hero">
        <div class="page-hero-content">
            <h1 class="home-page-heading">Complete your Gen 1 Pokémon Card set!</h1>
            <h2>Wether you're looking to complete that set you started as a kid or looking to sell your collection, you've found the right place. This is a place dedicated to buying and selling generation 1 cards! We hope you find what you're looking for :)
            </h2>
    </div>
    </div>

    
    
</body>
</html>